

/* App.css */
*{
  background-color: #565454;
  
}
.chart-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: white;
  margin-bottom: 70px;
  font-style: italic;
  text-decoration: underline;
}

.charts-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  
  justify-content: center;
  
}

.chart-item {
  width: 100%;
  max-width: 400px;
  height: 400px;
}

@media (max-width: 1200px) {
  .chart-container {
    height: auto;
  }

  h1 {
    font-size: 1.8em;
  }
}

@media (max-width: 768px) {
  .chart-item {
    max-width: 300px;
    height: 300px;
  }

  h1 {
    font-size: 1.6em;
  }
}

@media (max-width: 480px) {
  .chart-item {
    max-width: 200px;
    height: 200px;
  }

  h1 {
    font-size: 1.4em;
  }
}
